{{#if navigation.length}}
<ol class="nav-list {{#if (eq level 1)}}parent js-nav-list{{/if}}">
  {{#each navigation}}
  <li class="nav-li{{#if (eq @root.page.url ./url)}} active{{/if}}" data-depth="{{or ../level 0}}">
    {{#if ./content}}

    {{#if ./url}}
    <a class="flex shrink align-center link nav-link" href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize @root.page.url ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">
      {{{./content}}}
    </a>
    {{else}}
    {{#if ./items.length}}
    {{#if (not ../level)}}
    <a class="flex grow align-center strong link nav-link nav-heading js-nav-link" tabindex="0">
      <img class="icon" src="/_/img/icons/{{{hyphenate ./content}}}.svg">
      {{{./content}}}
    </a>
    {{else}}
    <span class="flex grow align-center nav-heading" data-depth="{{increment ../level}}">
      <span class="span">{{{./content}}}</span>
    </span>
    {{/if}}
    {{/if}}
    {{/if}}

    {{/if}}
    {{> nav-tree navigation=./items level=(increment ../level)}}
  {{/each}}
</ol>
{{/if}}
