{{!-- search wrapper used to position search icon --}}
<div class="flex align-center search">
  <button class="flex align-center input js-search-trigger" type="button">
    <svg class="svg" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.262 19.557l3.82 5.455a15.981 15.981 0 0 1-3.07 2.154L17.2 21.72a9.331 9.331 0 0 1-3.73.78 9.375 9.375 0 1 1 9.376-9.375c0 2.497-.992 4.752-2.583 6.432zM13.47 5.625c-4.136 0-7.5 3.364-7.5 7.5s3.364 7.5 7.5 7.5c4.135 0 7.5-3.364 7.5-7.5s-3.365-7.5-7.5-7.5z" /></svg>
    Search docs
  </button>
</div>
<ol class="nav-list">
  {{#each site.components}}
  <li class="nav-li{{#if (eq this @root.page.component)}} active{{/if}}" data-depth="0">
    <div class="flex align-center justify-justified">
      <a class="flex grow strong link nav-link nav-heading js-nav-link" tabindex="0">
        <img class="icon" src="/_/img/icons/{{./name}}.svg"> {{{./title}}}
      </a>
      {{#if (gt ./versions.length 1)}}
      <button class="flex align-center shrink button versions" data-trigger="versions">
        {{./versions.0.version}}
        <svg class="svg" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path d="M15.003 21.284L6.563 9.232l1.928-.516 6.512 9.299 6.506-9.299 1.928.516-8.434 12.052z" /></svg>
        <div class="popover" data-popover="versions">
          <ol class="ol">
            <li class="li-heading">Current version</li>
            <li class="flex align-center justify-justified li">{{./versions.0.version}}</li>
          </ol>
          <ol class="ol">
            <li class="li-heading">Previous versions</li>
            {{#each ./versions}}
            {{#if @index}}
            <li class="flex align-center justify-justified li">
              {{./version}}
              <svg class="svg" title="Always show this version on this computer." data-trigger="pin" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.4099 4.85382C9.70984 3.3476 9.52264 1.63489 9.89874 0L21.2895 7.97589C20.0644 8.77008 18.6383 9.18384 17.1981 9.18384C16.9835 9.18384 16.7686 9.17352 16.554 9.15503L13.2495 13.8744C14.3414 16.2222 14.1884 19.0714 12.5964 21.345L0.309082 12.7413C1.76816 10.6575 4.09485 9.54254 6.45923 9.54254C6.6749 9.54254 6.89081 9.55292 7.10648 9.57159L10.4099 4.85382ZM18.9901 7.77435L10.8768 2.09344C10.9281 2.87653 11.1228 3.65027 11.4562 4.36755L11.7366 4.97076L11.355 5.51562L7.66995 10.7785L7.00699 10.7211C6.81689 10.7047 6.6326 10.6964 6.45923 10.6964C4.77792 10.6964 3.17987 11.3624 2.0029 12.5189L12.2256 19.6768C12.984 18.0072 12.9921 16.0572 12.2032 14.361L11.9227 13.7576L15.9903 7.94836L16.653 8.00549C16.8421 8.02179 17.0255 8.03003 17.1981 8.03003C17.8096 8.03003 18.4122 7.94324 18.9901 7.77435ZM6.45343 19.3326L2.56067 22.6016L4.30109 17.8255L3.32269 17.1404L0 26.2586L7.43185 20.0177L6.45343 19.3326ZM8.73611 11.121L12.4234 5.85492C12.6773 6.1449 12.9586 6.41534 13.2683 6.65997L9.78076 11.6407C9.44681 11.4344 9.09744 11.2608 8.73611 11.121Z" transform="translate(5.16083 1.87073)" /></svg>
            </li>
            {{/if}}
            {{/each}}
          </ol>
        </div>
      </button>
      {{/if}}
    </div>
    {{!-- TODO this is where you'd output the navigation for each version using #each ./versions --}}
    {{!-- NOTE you could assume each version has one entry in the navigation set --}}
    {{> nav-tree navigation=./versions.0.navigation.0.items level=1}}
  </li>
  {{/each}}
</ol>
