{{#if navigation.length}}
<ol class="nav-list">
  {{#each navigation}}
  <li class="nav-li{{#if (eq @root.page.url ./url)}} is-current-page{{/if}}" data-depth="{{or ../level 0}}">
    {{#if ./content}}

    {{#if ./url}}
    <a class="flex shrink align-center link nav-link" href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize @root.page.url ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">
      {{{./content}}}
    </a>
    {{else}}

    {{#if ./items.length}}
    <a class="flex grow align-center strong link nav-link nav-heading" tabindex="0">
      <image class="icon" src="/_/img/icons/{{{hyphenate ./content}}}.svg">
      {{{./content}}}
    </a>
    {{/if}}

    {{/if}}

    {{/if}}
    {{> nav-tree navigation=./items level=(increment ../level)}}
  {{/each}}
</ol>
{{/if}}
