<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} | {{{site.title}}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{page.canonicalUrl}}">
    {{/if}}
    {{#if page.description}}
    <meta name="description" content="{{page.description}}">
    {{/if}}
    {{#if page.keywords}}
    <meta name="keywords" content="{{page.keywords}}">
    {{/if}}
    {{#if page.attributes.version}}
    <meta name="version" content="{{page.attributes.version}}">
    {{/if}}
    {{#if page.attributes.product}}
    <meta name="product" content="{{page.attributes.product}}">
    {{/if}}
    {{#if page.attributes.goal}}
    <meta name="goal" content="{{page.attributes.goal}}">
    {{/if}}
    {{> head}}
  <body class="flex col">
    {{> header}}
    {{> body}}
    {{> footer}}
    {{> search}}
